$button-primary-bg: rgba(226, 67, 239, 0.22);
$text-black-primary: rgba(0, 0, 0, 0.2);
$text-black-secondary: rgba(0, 0, 0, 0.35);
$card-bg: rgba(255, 255, 255, 0.81);
$card-border: rgba(0, 0, 0, 0.151);
$box-shadow: rgba(0, 0, 0, 0.25);
$header-bg: rgba(255, 255, 255);
$white: #ffffff;
$input-shadow: rgba(255, 255, 255, 0.5);
